
{% extends 'Side_bar_Common_layout.html' %}

{% block title %} Index Page{% endblock %}
{% load static %}

{% block content %}
<div class="text">
    <h3 style='font-size:36px;color:rgba(230,50,20,0.8)'><center>Video Analytics For Non Safety Detection</center></h3>
</div>
<div class="img">
    <center><img src="{% static 'img/img1.png' %}"  width=40%  height=40% alt=""></center>
    <br>
    <center><button type="button" class="btn btn-danger btn-lg Button_Work" >WORK SAFETY</button></center>
</div><br>
{% endblock %}